body {
  font-family: "Montserrat, sans-serif";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 3%;
}

.container-small {
  padding: 5% 5%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #ffff;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Ubuntu', sans-serif;
*/

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu, sans-serif";
  font-size: 3.5rem;
  font-style: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

/*download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/*title section*/

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/*title image*/

.iphonePic {
  max-width: 100%;
  height: auto;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;
  top: 260px;
}

/* midsection with icons & features*/

/* to interact with the id --> use # */
#features {
  position: relative;
}

.feature-text {
  font-size: 1.5rem;
  font-weight: 900;
}

.icondiv {
  padding-top: 2rem;
}

.icon {
  color: #ef8172;
}

/* Hover effects for icons*/

.fa-circle-check:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

.colomicontitles {
  margin-bottom: 4rem;
}

.topparagraph {
  padding-left: 30%;
  padding-right: 30%;
}

.midparagraph {
  padding-left: 30%;
  padding-right: 30%;
}

.bottomparagraph {
  padding-left: 25%;
  padding-right: 25%;
}

.icondiv {
  padding-bottom: 0.75rem;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.Pricing-paragraph-subtitle {
  font-size: x-large;
}

.pricing-column {
  padding: 3% 2%;
}

.dog-pricing {
  font-size: 1.5rem;
  font-weight: 900;
}

/* footer section */

.footer-btn {
  margin: 0.5%;
}

.bottom-icons {
  color: #8f8f8f;
  padding: 5px;
}

.fa-twitter:hover {
  color: #ff4c68;
}

.fa-instagram:hover {
  color: #ff4c68;
}

.fa-facebook-f:hover {
  color: #ff4c68;
}

.fa-envelope:hover {
  color: #ff4c68;
}

.Copyright {
  color: #8f8f8f;
}

@media screen and (max-width: 1420px) {
  #title {
    text-align: center;
  }

  .meetDogsTitle {
    font-size: x-large;
  }

  .iphonePic {
    position: static;
    transform: rotate(0);
    width: 80%;
    margin-left: 12%;
    padding-top: 5%;
  }

  .download-button {
    margin-left: 27%;
    width: 50%;
    height: 8%;
  }

  h2 {
    font-size: x-large;
  }

  .Footer-text {
    font-size: x-large;
    line-height: 1.5;
  }

  #pricing {
    text-align: center;
  }
}
